.mdl-card {
  width: 320px;
  margin: 10px;
}
.mdl-card__title {
  color: #fff;
  background: rgb(63,81,181);
}
.mdl-card__subtitle-text {
  color: #ddd;
  line-height: 24px;
}
.mdl-card--expand {
  flex-grow: initial;
}
.mdl-card__supporting-text {
  flex-grow: 1;
}
.tags {
	padding-top: 0;
}
